/*-------------------------Banner----------------------------------*/
#Datos {
	position: static;
	text-align: center;
	color: #08298A;
	font-weight: bold;
	margin-top: 100px;
}

#banner {
	position: static;
	text-align: center;
}